@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  background: linear-gradient(#f1f6fb, #ffffff);
  max-width: 100%;
  padding: 80px 100px;
}

/* heading css */
h1.text-center {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 45px;
  color: #472e8d;
  text-transform: uppercase;
}

h1:after {
  content: '';
  display: block;
  width: 115px;
  height: 4px;
  background: #b8db15;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 0px;
}

/* heading css end */

/* box css */
.box {

  width: 33.33%;
  margin-right: 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 2px #ede9e9;
}

.box:last-child {
  margin-right: 0px;
}

.box-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box-title {
  font-size: 24px;
  font-weight: 600;
  color: #472e8d;
  margin-bottom: 20px;
}

.box-content {
  padding: 30px 20px;
}

p.box-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #969696;
}

.box-btn {
  display: inline-block;
  background: #f4c911;
  padding: 15px 30px;
  border-radius: 50px;
  margin-top: 30px;
  color: #472e8d;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.view-more {
  padding: 20px 30px;
  font-size: 18px;
  margin-top: 80px;
}


/* media query started */

/* media query for tablet screens */

@media only screen and (max-width: 991px) {
  .container {
    padding: 80px 40px;
  }

  .box-list {
    display: block;

  }

  .box-list {
    display: inline-block;
    margin: 0 auto;
  }

  .box img {
    width: 100%;
  }

  .box {
    width: 100%;
    margin-bottom: 30px;
  }

  .box:last-child {
    margin-bottom: 0px;
  }
}


/* media query for mobile screens */

@media screen and (max-width: 767px) {
  .container {
    padding: 60px 20px;
  }

}